@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

ol,
ul,
menu {
  list-style: inherit;
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
