@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.tiptap h1 {
  font-size: 2rem; 
  font-weight: bold;
  margin: 0.5rem 0;
}

.tiptap h2 {
  font-size: 1.5rem; 
  font-weight: bold;
  margin: 0.5rem 0;
}

.tiptap h3 {
  font-size: 1.25rem; 
  font-weight: medium;
  margin: 0.5rem 0;
}

.tiptap h4 {
  font-size: 1.25rem;
  font-weight: medium;
  margin: 0.5rem 0;
}

.tiptap h5 {
  font-size: 1rem; 
  font-weight: 400; 
  margin: 0.5rem 0;
}

.tiptap h6 {
  font-size: 0.875rem; 
  font-weight: 400; 
  margin: 0.5rem 0;
}

.tiptap ol,
.tiptap ul,
.tiptap menu {
  list-style: inherit;
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}
 

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

[data-slot="listbox"] ul {
  padding: 3px;
  margin: 0;
}

input {
  caret-color: black; 
}

.fc-prev-button, .fc-next-button{
  background: none!important;
  border: none!important;
  color: #000!important;
}

.fc-prev-button:focus, .fc-next-button:focus {
  outline: none!important;
  box-shadow: none!important;
}

.fc-toolbar-title {
  font-size: medium!important;
}

.fc-day {
  background: #fff!important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
